<!DOCTYPE html>
<html lang="en">
<head>
  <title>BoomBook Store</title>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700%7CRaleway:300,400,700%7CPlayfair+Display:700' rel='stylesheet'>

  <!-- Css -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/magnific-popup.css" />
  <link rel="stylesheet" href="css/font-icons.css" />
  <link rel="stylesheet" href="css/sliders.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/animate.min.css" />

  <!-- Favicons -->
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
  <link rel="stylesheet" type="text/css" href="css/theme.css" media="all"/>

  <!-- external olanlar için-->

  <!--

<link rel="stylesheet" type="text/css" href="external/css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="external/css/jquery.fancybox.css"/>
  <link rel="stylesheet" type="text/css" href="external/css/jquery-ui.css"/>
  <link rel="stylesheet" type="text/css" href="external/css/owl.carousel.css"/>


  -->


</head>

<body class="relative">

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      <div></div>
    </div>
  </div>


  <main class="content-wrapper oh">

    <!-- Navigation -->
    <header class="nav-type-1">
      <nav class="navbar navbar-static-top">
        <div class="navigation" id="">
          <div class="container relative">
            <div class="row">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <!-- Mobile cart -->
                <div class="nav-cart mobile-cart hidden-lg hidden-md">
                  <div class="nav-cart-outer">
                    <div class="nav-cart-inner">
                      <a href="#" class="nav-cart-icon">2</a>
                    </div>
                  </div>
                </div>
              </div> <!-- end navbar-header -->

              <div class="header-wrap" style="padding-left:5px;padding-right:0px;">
                <div class="header-wrap-holder">

                   <!-- Logo -->
                   <div class="logo-container" style="width: 25%;">

                    <div class="logo-wrap text-center">

                      <a href="index.html">
                        <h1 style="margin-bottom: 2px;"> BoomBook Store</h1>
                       <!-- <img class="logo" style="position: relative;background-size: auto;" src="img/boombook_logo.png" alt="logo"> -->

                      </a>
                    </div>
                  </div>



                  <!-- Search -->
                  <div class="nav-search hidden-sm hidden-xs">
                    <form class = "form-line" method="get">
                      <input type="search" style="width: 430px;height: 54px;"  placeholder="Search a book" >

                    </form>

                  </div>



                  <!-- Cart -->
                  <div class="nav-cart-wrap hidden-sm hidden-xs" style="position: absolute;">

                    <div class="dropdown" style="width: 200px;height: 20px;margin-top: 20px;" >
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding-left:10px;padding-right:10px;margin-top: 20px;margin-left: 120px;"> Profile
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu" style="margin-top: 40px;">
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Orders</a></li>
                        <li><a href="#">Order Status</a></li>
                      </ul>
                    </div>

                    <div class="nav-cart right" style="margin-bottom: 60px;">

                      <div class="nav-cart-outer">
                        <div class="nav-cart-inner">
                          <button type="button" class="btn btn-dark" style="border-bottom-width: 0px;
                          padding-bottom: 1px;">
                             <p style="color: #fff;line-height: 1px;"> CARD</p>
                            <a href="#" class="nav-cart-icon" style="margin-left: 12px;">2</a>

                          </button>
                        </div>
                      </div>
                      <div class="nav-cart-container">
                        <div class="nav-cart-items">

                          <div class="nav-cart-item clearfix">
                            <div class="nav-cart-img">
                              <a href="#">

                              </a>
                            </div>
                            <div class="nav-cart-title">
                              <a href="#">
                                Silver Sparrow
                              </a>
                              <div class="nav-cart-price">
                                <span>1 x</span>
                                <span>$9.99</span>
                              </div>
                            </div>
                            <div class="nav-cart-remove">
                              <a href="#"><i class="icon icon_close"></i></a>
                            </div>
                          </div>

                          <div class="nav-cart-item clearfix">
                            <div class="nav-cart-img">
                              <a href="#">

                              </a>
                            </div>
                            <div class="nav-cart-title">
                              <a href="#">
                                Cross of Fire
                              </a>
                              <div class="nav-cart-price">
                                <span>1 x</span>
                                <span>$9.99</span>
                              </div>
                            </div>
                            <div class="nav-cart-remove">
                              <a href="#"><i class="icon icon_close"></i></a>
                            </div>
                          </div>

                        </div> <!-- end cart items -->

                        <div class="nav-cart-summary">
                          <span>Total</span>
                          <span class="total-price">$20</span>
                        </div>

                        <div class="nav-cart-actions mt-20">
                          <a href="shop-cart.html" class="btn btn-md btn-dark"><span>Go to Card</span></a>
                          <a href="shop-checkout.html" class="btn btn-md btn-dark mt-10"><span>Buy Now</span></a>
                        </div>
                      </div>
                    </div>



                    <div class="menu-cart-amount right">

                      <!-- önceki kart yazısı-->

                    </div>
                  </div> <!-- end cart -->

                </div>
              </div> <!-- end header wrap -->

              <div class="nav-wrap">
                <div class="collapse navbar-collapse" id="navbar-collapse">

                  <ul class="nav navbar-nav">

                    <li id="mobile-search" class="hidden-lg hidden-md">
                      <form method="get" class="mobile-search relative">
                        <input type="search" class="form-control" placeholder="Arama...">
                        <button type="submit" class="search-button">
                          <i class="icon icon_search"></i>
                        </button>
                      </form>
                    </li>

                    <li class="dropdown">
                      <a href="index.html">HOME</a>
                    </li>



                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">BOOKS</a>
                      <ul class="dropdown-menu megamenu">
                        <li>
                          <div class="megamenu-wrap">
                            <div class="row">

                              <div class="col-md-3 megamenu-item">
                                <h6>Education</h6>
                                <ul class="menu-list">
                                  <li><a href="#">TOEFL</a></li>
                                  <li><a href="#">Maths</a></li>
                                  <li><a href="#">Computer Science</a></li>
                                  <li><a href="#">Civil Engineering</a></li>
                                </ul>
                              </div>

                              <div class="col-md-3 megamenu-item">
                                <h6>Literature</h6>
                                <ul class="menu-list">
                                  <li><a href="#">Story</a></li>
                                  <li><a href="#">Novel</a></li>
                                  <li><a href="#">Poem</a></li>

                                </ul>
                              </div>

                              <div class="col-md-3 megamenu-item">
                                <h6>Fiction</h6>
                                <ul class="menu-list">
                                  <li><a href="#">Fantasy</a></li>
                                  <li><a href="#">Anime</a></li>
                                  <li><a href="#">Science-Fiction</a></li>

                                </ul>
                              </div>

                              <div class="col-md-3 megamenu-item">
                                <h6>Kids</h6>
                                <ul class="menu-list">
                                  <li><a href="#">Coloring Books</a></li>
                                  <li><a href="#">Comic Strip</a></li>
                                  <li><a href="#">Story</a></li>
                                  <li><a href="#">Creative</a></li>
                                </ul>
                              </div>

                            </div>
                          </div>
                        </li>
                      </ul>
                    </li> <!-- end categories -->

                    <li class="dropdown">
                      <a href="#">FAQ</a>
                      <i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown"></i>
                      <ul class="dropdown-menu">
                        <li><a href="blog-standard.html">Shipment</a></li>
                        <li><a href="blog-single.html">Payment</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                      <a href="#">BESTSELLERS</a>
                      <i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown"></i>

                    </li>

                    <li class="dropdown">
                      <a href="#">NEW ARRIVALS</a>
                      <i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown"></i>

                    </li>

                    <li class="mobile-links">
                      <ul>
                        <li>
                          <a href="#">Giriş</a>
                        </li>
                        <li>
                          <a href="#">Hesabım</a>
                        </li>
                        <li>
                          <a href="#">İstek Listem</a>
                        </li>
                      </ul>
                    </li>

                  </ul> <!-- end menu -->
                </div> <!-- end collapse -->
              </div> <!-- end col -->



            </div> <!-- end row -->
          </div> <!-- end container -->
        </div> <!-- end navigation -->
      </nav> <!-- end navbar -->
    </header> <!-- end navigation -->
    <br> <br> <hr>


    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">

          <div class="col-md-9 catalogue-col right mb-50">

            <!-- Banner -->
            <div class="banner-wrap relative">
              <img src="img/resim.jpg" alt="" width="875" height="350">
              <div class="hero-holder text-center right-align">
                <div class="hero-lines mb-0">
                  <h1 class="hero-heading absolute white">BoomBook Store</h1>
                  <h4 class="hero-subheading white uppercase">Find yourself in a great book.</h4>
                </div>
              </div>
            </div>

            <div class="shop-filter">
              <p class="result-count">Showing: 1-12 of 80 results</p>

              <form class="ecommerce-ordering">
                <select>
                  <option value="default-sorting">Default Sorting</option>
                  <option value="price-low-to-high">Price: high to low</option>
                  <option value="price-high-to-low">Price: low to high</option>
                  <option value="by-popularity">By Popularity</option>
                  <option value="date">By Newness</option>
                  <option value="rating">By Rating</option>
                </select>
              </form>
            </div>

            <div class="shop-catalogue grid-view left">

              <div class="row row-10 items-grid">

                <div class="col-md-4 col-xs-6">
                  <div class="product-item">
                    <div class="product-img">
                      <a href="#">
                        <img src="img/qwe.jpg" alt="" weight = "277" height="347">
                        <img src="img/qwe.jpg" alt="" class="back-img" weight = "277" height="347">
                      </a>
                      <div class="product-label">
                        <span class="sale">sale</span>
                      </div>
                      <div class="product-actions">
                        <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                          <i class="fa fa-exchange"></i>
                        </a>
                        <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                          <i class="fa fa-heart"></i>
                        </a>
                      </div>
                      <a href="#" class="product-quickview">Quick View</a>
                    </div>
                    <div class="product-details">
                      <h3>
                        <a class="product-title" href="shop-single-product.html">The Witch</a>
                      </h3>
                      <span class="price">
                        <del>
                          <span>$388.00</span>
                        </del>
                        <ins>
                          <span class="ammount">$159.99</span>
                        </ins>
                      </span>
                    </div>
                  </div>
                </div>







                <div class="col-md-4 col-xs-6">
                  <div class="product-item">
                    <div class="product-img">
                      <a href="#">
                        <img src="img/scary.jpg" alt="" weight = "277" height="347">
                        <img src="img/scary.jpg" alt="" class="back-img" weight = "277" height="347">
                      </a>
                      <div class="product-actions">
                        <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                          <i class="fa fa-exchange"></i>
                        </a>
                        <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                          <i class="fa fa-heart"></i>
                        </a>
                      </div>
                      <a href="#" class="product-quickview">Quick View</a>
                    </div>
                    <div class="product-details">
                      <h3>
                        <a class="product-title" href="shop-single-product.html">Scary Stories</a>
                      </h3>
                      <span class="price">
                        <ins>
                          <span class="ammount">$219.00</span>
                        </ins>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-xs-6">
                  <div class="product-item">
                    <div class="product-img">
                      <a href="#">
                        <img src="img/george.jpg" alt="" weight = "277" height="347">
                        <img src="img/george.jpg" alt="" class="back-img" weight = "277" height="347">
                      </a>
                      <span class="sold-out valign">out of stock</span>
                      <div class="product-actions">
                        <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                          <i class="fa fa-exchange"></i>
                        </a>
                        <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                          <i class="fa fa-heart"></i>
                        </a>
                      </div>

                      <a href="#" class="product-quickview">Quick View</a>
                    </div>
                    <div class="product-details">
                      <h3>
                        <a class="product-title" href="shop-single-product.html">Descendants</a>
                      </h3>
                      <span class="price">
                        <ins>
                          <span class="ammount">$99.00</span>
                        </ins>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-xs-6">
                  <div class="product-item">
                    <div class="product-img">
                      <a href="#">
                        <img src="img/CS.jpg" alt="" weight = "277" height="347">
                        <img src="img/CS.jpg" alt="" class="back-img" weight = "277" height="347">
                      </a>
                      <div class="product-actions">
                        <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                          <i class="fa fa-exchange"></i>
                        </a>
                        <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                          <i class="fa fa-heart"></i>
                        </a>
                      </div>
                      <a href="#" class="product-quickview">Quick View</a>
                    </div>
                    <div class="product-details">
                      <h3>
                        <a class="product-title" href="shop-single-product.html">Computer Science Handbook</a>
                      </h3>
                      <span class="price">
                        <ins>
                          <span class="ammount">$120.00</span>
                        </ins>
                      </span>
                    </div>
                  </div>
                </div>


                <div class="col-md-4 col-xs-6">
                  <div class="product-item">
                    <div class="product-img">
                      <a href="#">
                        <img src="img/kobe.jpg" alt="" weight = "277" height="347">
                        <img src="img/kobe.jpg" alt="" class="back-img" weight = "277" height="347">
                      </a>
                      <div class="product-actions">
                        <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                          <i class="fa fa-exchange"></i>
                        </a>
                        <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                          <i class="fa fa-heart"></i>
                        </a>
                      </div>
                      <a href="#" class="product-quickview">Quick View</a>
                    </div>

                    <div class="product-details">
                      <h3>
                        <a class="product-title" href="shop-single-product.html">Kobe Bryant</a>
                      </h3>
                      <span class="price">
                        <ins>
                          <span class="ammount">$399.00</span>
                        </ins>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-xs-6">
                  <div class="product-item">
                    <div class="product-img">
                      <a href="#">
                        <img src="img/covid.jpg" alt="" weight = "277" height="347">
                        <img src="img/covid.jpg" alt="" class="back-img" weight = "277" height="347">
                      </a>
                      <div class="product-label">
                        <span class="sale">sale</span>
                      </div>
                      <div class="product-actions">
                        <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                          <i class="fa fa-exchange"></i>
                        </a>
                        <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                          <i class="fa fa-heart"></i>
                        </a>
                      </div>
                      <a href="#" class="product-quickview">Quick View</a>
                    </div>

                    <div class="product-details">
                      <h3>
                        <a class="product-title" href="shop-single-product.html">Koronavirüs El Kitabı</a>
                      </h3>
                      <span class="price">
                        <ins>
                          <span class="ammount">$119.00</span>
                        </ins>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-xs-6">
                  <div class="product-item">
                    <div class="product-img">
                      <a href="#">
                        <img src="img/economy.jpg" alt=""  weight = "277" height="345">
                        <img src="img/economy.jpg" alt="" class="back-img"  weight = "277" height="345">
                      </a>
                      <div class="product-actions">
                        <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                          <i class="fa fa-exchange"></i>
                        </a>
                        <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                          <i class="fa fa-heart"></i>
                        </a>
                      </div>
                      <a href="#" class="product-quickview">Quick View</a>
                    </div>

                    <div class="product-details">
                      <h3>
                        <a class="product-title" href="shop-single-product.html">A Brief History of Economics</a>
                      </h3>
                      <span class="price">
                        <ins>
                          <span class="ammount">$1379.00</span>
                        </ins>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-xs-6">
                  <div class="product-item">
                    <div class="product-img">
                      <a href="#">
                        <img src="img/tols.jpg" alt="" weight = "277" height="345">
                        <img src="img/tols.jpg" alt="" class="back-img" weight = "277" height="345">
                      </a>
                      <div class="product-label">
                        <span class="sale">sale</span>
                      </div>
                      <div class="product-actions">
                        <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                          <i class="fa fa-exchange"></i>
                        </a>
                        <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                          <i class="fa fa-heart"></i>
                        </a>
                      </div>
                      <a href="#" class="product-quickview">Quick View</a>
                    </div>

                    <div class="product-details">
                      <h3>
                        <a class="product-title" href="shop-single-product.html">Anna Karanina</a>
                      </h3>
                      <span class="price">
                        <del>
                          <span>$350.00</span>
                        </del>
                        <ins>
                          <span class="ammount">$150.00</span>
                        </ins>
                      </span>
                    </div>

                  </div>
                </div>


                <div class="col-md-4 col-xs-6">
                  <div class="product-item">
                    <div class="product-img">
                      <a href="#">
                        <img src="img/journey.png" alt="" weight = "277" height="345">
                        <img src="img/journey.png" alt="" class="back-img" weight = "277" height="345">
                      </a>
                      <div class="product-actions">
                        <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                          <i class="fa fa-exchange"></i>
                        </a>
                        <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                          <i class="fa fa-heart"></i>
                        </a>
                      </div>
                      <a href="#" class="product-quickview">Quick View</a>
                    </div>

                    <div class="product-details">
                      <h3>
                        <a class="product-title" href="shop-single-product.html">The Journey</a>
                      </h3>
                      <span class="price">
                        <ins>
                          <span class="ammount">$399.00</span>
                        </ins>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-xs-6">
                  <div class="product-item">
                    <div class="product-img">
                      <a href="#">
                        <img src="img/game.jpg" alt="" weight = "277" height="345">
                        <img src="img/game.jpg" alt="" class="back-img" weight = "277" height="345">
                      </a>
                      <div class="product-label">
                        <span class="sale">sale</span>
                      </div>
                      <div class="product-actions">
                        <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                          <i class="fa fa-exchange"></i>
                        </a>
                        <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                          <i class="fa fa-heart"></i>
                        </a>
                      </div>
                      <a href="#" class="product-quickview">Quick View</a>
                    </div>

                    <div class="product-details">
                      <h3>
                        <a class="product-title" href="shop-single-product.html">Game of Thrones</a>
                      </h3>
                      <span class="price">
                        <ins>
                          <span class="ammount">$119.00</span>
                        </ins>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-xs-6">
                  <div class="product-item">
                    <div class="product-img">
                      <a href="#">
                        <img src="img/database.jpg" alt="" weight = "277" height="345">
                        <img src="img/database.jpg" alt="" class="back-img" weight = "277" height="345">
                      </a>
                      <div class="product-actions">
                        <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                          <i class="fa fa-exchange"></i>
                        </a>
                        <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                          <i class="fa fa-heart"></i>
                        </a>
                      </div>
                      <a href="#" class="product-quickview">Quick View</a>
                    </div>

                    <div class="product-details">
                      <h3>
                        <a class="product-title" href="shop-single-product.html">Database Concepts</a>
                      </h3>
                      <span class="price">
                        <ins>
                          <span class="ammount">$1379.00</span>
                        </ins>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-xs-6">
                  <div class="product-item">
                    <div class="product-img">
                      <a href="#">
                        <img src="img/indian.jpg" alt="" weight = "277" height="345">
                        <img src="img/indian.jpg" alt="" class="back-img" weight = "277" height="345">
                      </a>
                      <div class="product-label">
                        <span class="sale">sale</span>
                      </div>
                      <div class="product-actions">
                        <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                          <i class="fa fa-exchange"></i>
                        </a>
                        <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                          <i class="fa fa-heart"></i>
                        </a>
                      </div>
                      <a href="#" class="product-quickview">Quick View</a>
                    </div>

                    <div class="product-details">
                      <h3>
                        <a class="product-title" href="shop-single-product.html">Recent Indian Finance</a>
                      </h3>
                      <span class="price">
                        <del>
                          <span>$350.00</span>
                        </del>
                        <ins>
                          <span class="ammount">$150.00</span>
                        </ins>
                      </span>
                    </div>

                  </div>
                </div>

              </div> <!-- end row -->
            </div> <!-- end grid mode -->




            <div class="clear"></div>

            <!-- Pagination -->
            <div class="pagination-wrap">
              <p class="result-count">Showing: 1-12 of 80 results</p>
              <nav class="pagination right clear">
                <a href="#"><i class="fa fa-angle-left"></i></a><span class="page-numbers current">
                1</span><a href="#">
                2</a><a href="#">
                3</a><a href="#">
                4</a><a href="#">
                <i class="fa fa-angle-right"></i></a>
              </nav>
            </div>

          </div> <!-- end col -->

          <!-- Sidebar -->
          <aside class="col-md-3 sidebar left-sidebar">

            <!-- Categories -->

           <!--  <div class="widget categories">
              <h3 class="widget-title uppercase">Categories</h3>
              <ul class="list-no-dividers">
                <li>
                  <a href="#">Women2</a>
                </li>
                <li class="active-cat">
                  <a href="#">Men</a>
                </li>
                <li>
                  <a href="#">Accessories</a>
                </li>
                <li>
                  <a href="#">Bags</a>
                </li>
                <li>
                  <a href="#">Watches</a>
                </li>
                <li>
                  <a href="#">Shoes</a>
                </li>
              </ul>
            </div> -->
		<section class="section-wrap">
		<div class="row">

			  <!-- Accordions -->
			  <div class="col-sm-11">
				<div class="panel-group accordion mb-50" id="accordion">
				  <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion">Categories<span>&nbsp;</span> </a>

					<div class="panel-heading">
					  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="minus">History<span>&nbsp;</span>
					  </a>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
					  <div class="panel-body">
						African
					 </div>
           <div class="panel-body">
           Asia
          </div>
          <div class="panel-body">
          Ancient
         </div>
         <div class="panel-body">
           Black History
          </div>
          <div class="panel-body">
          Canadian
         </div>

				  </div>



				  <div class="panel panel-default">
  					<div class="panel-heading">
  					  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="plus">Horror<span>&nbsp;</span>
  					  </a>
  					</div>
  					<div id="collapseTwo" class="panel-collapse collapse">
  					  <div class="panel-body">
  						Ghosts
  					  </div>
              <div class="panel-body">
  						Paranormal
  					  </div>
              <div class="panel-body">
  						Vampires
  					  </div>
              <div class="panel-body">
  						Zombies
  					  </div>
  					</div>

				  </div>

				  <div class="panel panel-default">
					<div class="panel-heading">
					  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="plus">Entertaintment<span>&nbsp;</span>
					  </a>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
					  <div class="panel-body">
						Brain Teasers
					  </div>
            <div class="panel-body">
						Entertainers
					  </div>
            <div class="panel-body">
						Games
					  </div>
            <div class="panel-body">
						Movies
					  </div>
            <div class="panel-body">
						Humor
					  </div>
					</div>
				  </div>

          <div class="panel panel-default">
					<div class="panel-heading">
					  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="plus">Romance<span>&nbsp;</span>
					  </a>
					</div>
					<div id="collapseFour" class="panel-collapse collapse">
					  <div class="panel-body">
						Anthologies
					  </div>
            <div class="panel-body">
						Contemporary
					  </div>
            <div class="panel-body">
						Erotica
					  </div>
            <div class="panel-body">
						Fantasy
					  </div>
            <div class="panel-body">
						Gothic
					  </div>
					</div>
				  </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="plus">Travel<span>&nbsp;</span>
              </a>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
              Africa
              </div>
              <div class="panel-body">
              Asia
              </div>
              <div class="panel-body">
              Canada
              </div>
              <div class="panel-body">
              Caribbean
              </div>
              <div class="panel-body">
              Europe
              </div>
            </div>

          </div>


          <div class="panel panel-default">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="plus">Sports<span>&nbsp;</span>
              </a>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
              Baseball & Softball
              </div>
              <div class="panel-body">
              Basketball
              </div>
              <div class="panel-body">
              Boating & Sailing
              </div>
              <div class="panel-body">
              Camping
              </div>
              <div class="panel-body">
              Extreme Sports
              </div>
            </div>

          </div>


          <div class="panel panel-default">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" class="plus">Comics<span>&nbsp;</span>
              </a>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
              <div class="panel-body">
              Comic Books
              </div>
              <div class="panel-body">
              Comic Strips
              </div>
              <div class="panel-body">
              Dark Horse
              </div>
              <div class="panel-body">
              DC Comics
              </div>
              <div class="panel-body">
              Fantasy
              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" class="plus">Biographies<span>&nbsp;</span>
              </a>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
              <div class="panel-body">
              Ethnic & Cultural
              </div>
              <div class="panel-body">
              Europe
              </div>
              <div class="panel-body">
              Historical
              </div>
              <div class="panel-body">
              Leaders & Notable People
              </div>
              <div class="panel-body">
              Military
              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine" class="plus">Business<span>&nbsp;</span>
              </a>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
              <div class="panel-body">
              Careers
              </div>
              <div class="panel-body">
              International
              </div>
              <div class="panel-body">
              Economics
              </div>
              <div class="panel-body">
              Finance
              </div>
              <div class="panel-body">
              Industries
              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen" class="plus">Computers & Tech<span>&nbsp;</span>
              </a>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
              <div class="panel-body">
              Apple
              </div>
              <div class="panel-body">
              CAD
              </div>
              <div class="panel-body">
              Certification
              </div>
              <div class="panel-body">
              Computer Science
              </div>
              <div class="panel-body">
              Databases
              </div>
            </div>

          </div>


				</div>
			  </div> <!-- end accordions -->
    </div>
	</section>
            <!-- Types of books -->
            <div class="widget categories">
              <h3 class="widget-title uppercase">Types of Books</h3>
              <ul class="list-no-dividers">
                <li>
                  <a href="#">Fiction</a>
                </li>
                <li>
                  <a href="#">Nonfiction</a>
              </ul>
            </div>

            <!-- Filter by Price -->
            <div class="widget filter-by-price clearfix">
              <h3 class="widget-title uppercase">Filter by Price</h3>

              <div id="slider-range"></div>
              <p>
                <label for="amount">Price:</label>
                <input type="text" id="amount" readonly style="border:0;">
                <a href="#" class="btn btn-sm btn-dark">Filter</a>
              </p>
            </div>

            <!-- Bestsellers -->
            <div class="widget bestsellers">
              <div class="products-widget">
                <h3 class="widget-title uppercase">Bestsellers</h3>
                <ul class="product-list-widget">
                  <li class="clearfix">
                    <a href="shop-single-product.html">
                      <img src="img/covid.jpg" alt="">
                      <span class="product-title">Koronavirüs El Kitabı</span>
                    </a>
                    <span class="price">
                      <ins>
                        <span class="ammount">$120.00</span>
                      </ins>
                    </span>
                  </li>
                  <li class="clearfix">
                    <a href="shop-single-product.html">
                      <img src="img/game.jpg" alt="">
                      <span class="product-title">Game Of Thrones</span>
                    </a>
                    <span class="price">
                      <ins>
                        <span class="ammount">$179.00</span>
                      </ins>
                    </span>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Tags -->
            <div class="widget tags clearfix">
              <h3 class="widget-title uppercase">Tags</h3>
              <a href="#">History</a>
              <a href="#">Creative</a>
              <a href="#">Sports</a>
              <a href="#">Horror</a>
              <a href="#">Modern</a>
              <a href="#">Responsive</a>
              <a href="#">E-commerce</a>
              <a href="#">Economy</a>
              <a href="#">Game</a>
              <a href="#">Store</a>
              <a href="#">Business</a>
            </div>

          </aside> <!-- end sidebar -->

        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end catalogue -->


    <!-- Footer Type-1 -->
    <footer class="footer footer-type-1 bg-white">
      <div class="container">
        <div class="footer-widgets top-bottom-dividers pb-mdm-20">
          <div class="row">

            <div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
              <div class="widget footer-links">
                <h5 class="widget-title uppercase">Information</h5>
                <ul class="list-no-dividers">
                  <li><a href="#">Our stores</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Business with us</a></li>
                  <li><a href="#">Delivery information</a></li>
                  <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
              <div class="widget footer-links">
                <h5 class="widget-title uppercase">Help</h5>
                <ul class="list-no-dividers">
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">Track order</a></li>
                  <li><a href="#">F.A.Q</a></li>
                  <li><a href="#">Privacy policy</a></li>
                  <li><a href="#">Returns</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
              <div class="widget footer-links">
                <h5 class="widget-title uppercase">Account</h5>
                <ul class="list-no-dividers">
                  <li><a href="#">My account</a></li>
                  <li><a href="#">Wishlist</a></li>
                  <li><a href="#">Order history</a></li>
                  <li><a href="#">Special gifts</a></li>
                  <li><a href="#">Track order</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                <h5 class="widget-title uppercase">about us</h5>
                <p class="mb-0">A-ha Shop is a very slick and clean e-commerce template with endless possibilities. Creating an awesome clothes store with this Theme is easy than you can imagine.</p>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget footer-get-in-touch">
                <h5 class="widget-title uppercase">Contact</h5>
                <address class="footer-address"><span>Address:</span> Philippines, PO Box 620067, Talay st. 66, A-ha inc.</address>
                <p>Phone: <a href="tel:+1-888-1554-456-123">+ 1-888-1554-456-123</a></p>
                <p>Email: <a href="mailto:themesupport@gmail.com">themesupport@gmail.com</a></p>
                <div class="social-icons rounded mt-20">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-vimeo"></i></a>
                </div>
              </div>
            </div> <!-- end stay in touch -->

          </div>
        </div>
      </div> <!-- end container -->

      <div class="bottom-footer bg-white">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright sm-text-center">
              <span>
                &copy; 2017 Aha Shop, Made by <a href="http://deothemes.com">DeoThemes</a>
              </span>
            </div>

            <div class="col-sm-6 col-xs-12 footer-payment-systems text-right sm-text-center mt-sml-10">
              <i class="fa fa-cc-paypal"></i>
              <i class="fa fa-cc-visa"></i>
              <i class="fa fa-cc-mastercard"></i>
              <i class="fa fa-cc-discover"></i>
              <i class="fa fa-cc-amex"></i>
            </div>
          </div>
        </div>
      </div> <!-- end bottom footer -->
    </footer> <!-- end footer -->

    <div id="back-to-top">
      <a href="#top"><i class="fa fa-angle-up"></i></a>
    </div>

  </main> <!-- end main container -->

  <!-- jQuery Scripts -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>





</body>
</html>
